<!doctype html>
<html>
    <head>
      <title>Index</title>
    </head>
    <body>
      <h1>Hello World</h1>
      <form action="/">
        <input type=submit value="Back to home">
      </form>

      <h2>Enter the URL of the product</h2>
      <form action="/get_product_questions" method = "POST">
        <input type="text" name="url">
        <input type="submit" value="Submit">
     </form>  

      <br>

      <form action="/review_submission">
        <input type=submit value="Go to write review">
      </form>

      <br>

      <form action="/review_question">
        <input type=submit value="Go to ask question">
      </form>

      <br>
      
      <form action="/look_reviews">
        <input type="submit" value="Just look at reviews">
     </form>
     
    </body>
</html>