<!doctype html>
<html>
    <head>
      <title>Question</title>
    </head>
    <body>

      <form action="/search_results">

        <label for="user-question"><h1>Your Question:</h1></label>
        
        <input type="text" id="user-question" placeholder="Write your question here..." style="width: 300px; height: 35px; padding: 5px; font-size: 16px; border-radius: 4px;">
        <input type="submit" value="Submit">
        <br>

      </form>

      <br>

      <form action="/">
        <input type=submit value="Back to home">
      </form>

      <br>

    </body>
</html>