<!doctype html>
<html>
    <head>
      <title>Product Details</title>
    </head>
    <body>

      <ul id="product-details"></ul>
      <br>
      <ul id="question-details"></ul>

      <script>
        
        var productData = JSON.parse('{{product_and_questions | tojson }}');
        var questionData = JSON.parse('{{questions | tojson }}');
        
        function displayProductDetails(product) {
            const detailsList = document.getElementById('product-details');
            
            
            for (const [key, value] of Object.entries(product)) {
                const listItem = document.createElement('li');
                listItem.innerHTML = `<strong>${key}:</strong> ${value}`;
                if (key != 'questions') {
                  detailsList.appendChild(listItem);
                }
            }
        }

        displayProductDetails(productData);
        displayProductDetails(questionData);
    </script>

      <br>

      <form action="/">
        <input type=submit value="Back to home">
      </form>

      <br>
    </body>
</html>